@using System.Text.Json
@{
    ViewData["Title"] = "Upload Result";
}

<h1 class="display-4">Upload Successful</h1>

@if (TempData["UploadedFileName"] != null)
{
    var fileName = TempData["UploadedFileName"].ToString();
    var dataJson = TempData["Data"] as string;

    <p>Файл @TempData["UploadedFileName"] был загружен.</p>

    <br />
    <h2>Результат:</h2>

    @if (!string.IsNullOrEmpty(dataJson))
    {
        var frequencyData = JsonSerializer.Deserialize<List<FrequencyResult>>(dataJson);
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Слово</th>
                    <th>Частота</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in frequencyData)
                {
                    <tr>
                        <td>@item.Word</td>
                        <td>@item.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">Произошла ошибка при получении данных.</p>
    }

    <br />
    <a asp-controller="Files"
       asp-action="DownloadFile"
       asp-route-fileName="@fileName"
       class="btn btn-success">
        Скачать файл
    </a>

    <br />
}

<br />
<p>
    <a asp-controller="Files" asp-action="Index" class="btn btn-secondary">Загрузить еще один файл</a>
</p>
